.box-tit {
	padding-top: 15px;
	overflow: hidden;
}

.box-tit .tit {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #333;
	margin-bottom: 14px;
}

.box-tit .heng-line {
	width: 80px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 0px;
	background: #e6e6e6;
	margin-bottom: 14px;
}

.box-tit .tit-sm {
	text-align: center;
	font-size: 18px;
	color: red;
	line-height: 16px;
	margin-bottom: 30px;
}

.box-tit .tit-sm .layui-breadcrumb span[lay-separator] {
	padding: 0 20px;
	color: #CCC;
}

.layui-breadcrumb a:hover {
	color: #FF565D !important;
}


/** teacher hover  **/

.effect-box .layui-col-sm2 {
	/*width:175px;
    height:235px;
    float:left;
    margin-left:10px;*/
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
	/*position: relative;*/
}

.effect-box .layui-col-sm2 img {
	width: 175px;
	height: 235px;
	transition: all .6s ease;
}

.effect-box .layui-col-sm2 .effect-text {
	/*padding:10px 5%;*/
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.3s linear;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translateY(100%);
	-webkit-animation: translateY(100%);
	-o-transform: translateY(100%);
	-moz-transform: translateY(100%);
}

.effect-box .layui-col-sm2 .effect-text p {
	color: #FFF;
}

.effect-box .layui-col-sm2 .effect-text p big {
	font-size: 20px;
	display: block;
}

.effect-box .layui-col-sm2 .effect-text p span {
	padding-top: 5px;
	font-size: 10px;
	display: block;
}

.effect-box .layui-col-sm2:hover img {
	transform: scale(1.12);
}

.effect-box .layui-col-sm2:hover .effect-text {
	transform: translateY(0);
	-webkit-animation: translateY(0);
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
}


/*多易特色*/

.site-idea {
	margin: 50px 0;
	font-size: 0;
	text-align: center;
	font-weight: 300;
}

.site-idea li {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
}

.site-idea li {
	width: 18%;
	height: 230px;
	padding: 22px;
	line-height: 24px;
	margin-left: 20px;
	border: 1px solid #d2d2d2;
	text-align: left;
}

.site-idea li:first-child {
	margin-left: 0
}

.site-idea .layui-field-title {
	border-color: #d2d2d2
}

.site-idea .layui-field-title legend {
	font-size: 16px;
	color: blue;
	font-weight: 450;
	margin: 0 20px 20px 0;
	padding: 0 20px;
	text-align: center;
}

.site-idea .layui-field-title p {
	font-size: 15px;
	font-weight: 300;
}


/*多易就业*/

#jiuye img {
	margin-top: 10px;
	margin-left: 10px;
	display: block;
	float: left;
	width: 180px;
	height: 323px;
}

#huanjing img {
	margin-top: 10px;
	margin-left: 10px;
	display: block;
	float: left;
	width: 250px;
	height: 200px;
}


/*课程大纲*/

.abs {
	width: 94%;
	margin: 0 auto;
	margin-top: 0.5rem;
	border: 0.02rem solid #dcdcdc;
	border-radius: 0.2rem;
	overflow: hidden;
	background-color: #fff;
}

.abs h6 {
	font-size: 0.4rem;
	line-height: 0.6rem;
	padding-left: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	color: #333;
	background: -webkit-linear-gradient(#fff 0%, #f5f5f5 100%);
}

.abs table {
	width: 96%;
	margin: 0.5rem auto;
	text-align: center;
}

.abs table th,
.abs table td {
	font-size: 1rem;
	line-height: 3rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	color: #666;
	border: 0.01rem solid #fff;
	text-align: center;
	word-wrap: break-word
}

.abs table th {
	background-color: #31a4f5;
	color: #fff;
}

.abs table .bg1 {
	background-color: #ddd;
}

.abs table .bg2 {
	background-color: #e9e9e9;
}

/*footer 部分*/

.footer {
	padding: 30px 0;
	line-height: 30px;
	text-align: center;
	color: #666;
	font-weight: 300;
}

body .layui-layout-admin .footer-demo {
	height: 50px;
	padding: 5px 0;
}

.footer a {
	padding: 0 5px;
}

.site-union {
	margin-top: 10px;
	color: #999;
}

.site-union>* {
	display: inline-block;
	vertical-align: middle;
}

.site-union a[upyun] img {
	width: 80px;
}

.site-union span {
	position: relative;
	top: 3px;
}

.site-union span a {
	padding: 0;
	display: inline;
	color: #999;
}

.site-union span a:hover {
	text-decoration: underline;
}

.footer-demo p {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	padding-right: 10px;
}

.footer-demo .site-union {
	position: relative;
	top: -9px;
}

.fly-extend-list{position: relative; padding: 30px; line-height: 24px; color: #999; transition: all .3s; -webkit-transition: all .3s;}
.fly-extend-list:hover{box-shadow: 0 0 80px rgba(0,0,0,.10);}
.fly-extend-list a{color: #999;}
.fly-extend-list-header{position: relative; height: 40px; line-height: 40px; margin-bottom: 20px; color: #999;}
.fly-extend-list-header a{color: #999;}
.fly-extend-list-header .fly-extend-title{font-size: 20px; padding-right: 150px;}
.fly-extend-list-header .fly-extend-title a{color: #000;}
.fly-extend-list-header .layui-badge{top: -2px; margin-left: 5px;}
.fly-extend-list-info{position: absolute; max-width: 200px; height: 40px; right: 0; top: 0; overflow: hidden;}
.fly-extend-list-info span{padding-right: 20px;}
.fly-extend-list-info .icon-xiazai{position: relative; top: 1px; font-size: 20px;}
.fly-extend-list-user img{width: 30px; height: 30px; border-radius: 100%; }
.fly-extend-list-user cite{padding: 0 3px;}
.fly-extend-list-desc{height: 48px; line-height: 24px; overflow: hidden; color: #999; word-wrap: break-word;}




/** 讲师团队 */
/*.banner{height: 320px; margin-top: 80px;}
.banner.teacher{background: url(../img/nav_img1.jpg) no-repeat center top; background-size: cover;}*/

.main.teacher{padding: 30px 0 75px 0;}
.main.teacher .content{padding: 50px 0; border-bottom: 1px solid #e8e8e8;}
.main.teacher .content .content-img{text-align: center;}
.main.teacher .content .content-img img{max-width: 100%; border-radius: 0.5rem;}
.main.teacher .content .label{color: #565656; font-size: 30px; line-height: 78px; margin-top: 32px;}
.main.teacher .content .detail{font-size: 16px; line-height: 28px; color: #333; padding-bottom: 30px;}
.main.teacher .content a{color: #666; font-size: 16px; line-height: 38px; padding:10px 11px 10px 23px; border: 1px solid #a0d2cc; border-radius: 3px;}

/*校区*/
.col-img1 {
	width: 99%;
	height: 99%;
	border-radius: 0.3rem;
}

/*about*/
.about-content .about-big-img{height: 500px; background: url('../images/gy_banner.jpg') center center no-repeat; background-size:100% 100%; color: #ffffff;}
.about-content .about-big-img .text_box{max-width: 1200px; margin:0 auto;}
.about-content .about-big-img .text{display: inline-block; margin: 230px 500px 0 100px;}
.about-content .about-big-img .text h3{font-size: 36px; padding-bottom: 15px; border-bottom: 2px solid #b3b3b3;}
.about-content .about-big-img .text p{font-size: 16px; padding-top: 40px; line-height: 40px;}
.about-info .img-texts{max-width: 1200px; margin:0 auto; padding: 10px 0;}
.about-info .img-texts .item{padding: 10px 0;}
/*.about-info .img-texts .item img{ width: 300px;}*/
.about-info .img-texts .item .text{padding-left: 84px;}
.about-info .img-texts .item .text h5{font-size: 100px; color: #f5f2ef; position: absolute;}
.about-info .img-texts .item .text h4{font-size: 30px; color: #333333; position: relative; z-index: 2; padding: 5px 0  20px 0px;}
.about-info .img-texts .item .text p{line-height: 38px; font-size: 16px; color: #666666;}
.about-info .coreTeam_box{background: #f6f6f9; position: relative;}
.about-info .coreTeam_box .writebg{height: 360px; background: #fff; position: absolute; top: 0px; width: 100%;}
.about-info .coreTeam{max-width: 1200px; margin:0 auto; text-align: center;}
.about-info .coreTeam h3{font-size: 36px; color:#333333; padding:40px 0 24px 0;}
.about-info .coreTeam h4{font-size: 24px; color: #888888; padding-bottom: 80px;}
.about-info .coreTeam .imgTxt h6{font-size: 18px; padding:36px 0 110px 0;}
.about-info .coreTeam .imgTxt img{ width: 100%;}
/*end-about*/

.img-center {text-align: center; align-content: center;}

.content-center {text-align: center; align-content: center;}
